$bodyBackground: rgba(198, 238, 252, 0.53);
$bodyColor: white;
$briefBackground:#fff178;
$contentBackground:#3b3b3b;
$headerColor:#fccd10;
$borderColor:#fccd10;
$textColor:#e0e0e0;
$anchorColor:#f5c70f;
$formTittleColor:#fccd10;
$formSubmitColor: #cca60d;
$formTextColor: #a5a5a5;
$thBackground:#94a34e;
$tdBackground:#677d01;
$borderInputColor:$thBackground;
$textTransform: uppercase;
$briefWidth: 95%;
$margin: 0 0 30px 0;
