$bodyBackground: #dcbb9a;
$bodyColor: black;
$briefBackground:#fadcba;
$contentBackground:#ffffff;
$headerColor:#893c00;
$borderColor:#893c00;
$textColor:#000000;
$anchorColor:#3d70a1;
$formTittleColor: rgba(139, 139, 139, 0.95);
$formSubmitColor: #3d70a1;
$formTextColor: rgba(139, 139, 139, 0.95);
$thBackground:#e0e0e0;
$tdBackground:#ffffff;
$borderInputColor:$thBackground;
$textTransform: none;
$briefWidth: 40%;
$margin: 0 20px 0 0;
